@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
	font-family: "Tajawal", sans-serif;
  /* max-width: 800px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  background-color: ghostwhite;
}